DEVICE={{ bridge_name }}
ONBOOT={{ bridge_onboot }}
BOOTPROTO={{ bridge_protocol }}
DELAY={{ bridge_delay }}
TYPE=Bridge
{% if bridge_ip_addr %}
IPADDR=
{% endif %}
{% if bridge_netmask %}
NETMASK={{ bridge_netmask }}
{% endif %}
NM_CONTROLLED=no
