DEVICE={{ bridge_name }}
ONBOOT={% if bridge_onboot %}yes{% endif %}

BOOTPROTO={{ bridge_protocol }}
DELAY={{ bridge_delay }}
TYPE=Bridge
{% if bridge_ip_addr is defined %}
IPADDR=
{% endif %}
{% if bridge_netmask is defined %}
NETMASK={{ bridge_netmask }}
{% endif %}
NM_CONTROLLED=no
